body {
    background-image: url('img html.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    position: relative;
    
       
      }

      article{ padding:20px;}

.img2{
    width:1000px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
}      
  
h3,h4,p,li {color:white;font-family: sans-serif;}
h2{color:rgb(114, 231, 235); font-family:sans-serif; margin: 15px;text-decoration: underline dashed black;}

header { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color:#363937;
    padding: 3cqb; text-align: center; color:gold; font-size:20px; font-style: italic; margin :0; border-radius: 30px; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);} 

.bunny{ font-family: cursive; color:white; text-decoration: none; }

.bunny:hover{color:goldenrod; font-weight: bolder;}
.bunny:active{background-color: aliceblue; border-radius: 25px; margin-right: 20px;}
footer {background-color:#363937; padding: 1rem 0; margin-top: 2rem;border-radius: 30px; }

aside ul.related.lin1:link{color:black;
font-weight: bold;}

.lin1:visited{color:white;}

.lin1:hover{
    color:red;
    font-weight: bolder;
    text-decoration: underline dotted black;
}


.lin1:active{background-color:black;
font-style: italic;}




aside h4{text-decoration: underline dotted black; }



h2 { font-size: 30px;
text-transform: uppercase;}

p {
font-size:20px;
line-height: 1.5;
}
  
h4{

font-size:25px;
text-transform: uppercase;
text-align: center;
}
h3{
    font-size: 25px;
    text-transform: uppercase;
}
li {
    font-size:20px;margin: 5px;
}
footer p{
    font-size: 16px;
    text-align: center;
}
#mark{
    font-size: 25px;
    font-weight: bold ;
}
.related-author{
    font-size: 15px;
    font-style: bold;
}
.related{
    list-style: none;
}

aside { margin:20px;
    background-color: rgba(124, 123, 123, 0.312);
    border: 10px solid goldenrod;
    border-radius: 30px;
}
.next{
    background-color: black; color:goldenrod; font-size:20px; border-radius: 30px; font-family: sans-serif;
    padding:10px;width: 100%; margin: auto;
}
.next:hover{
    background-color: red; font-weight: bolder; font-family: fantasy;
}
.next:active{
    background-color: blanchedalmond; font-style: italic;
}

.container{
    width:1000px;
    margin-left:auto;
    margin-right:auto;}

.like{padding:10px; background-color: burlywood; font-size: 22px; font-family: sans-serif;border-radius: 30px;
position:absolute; right:50px; bottom:50px;}    
.like:hover{background-color: crimson; font-weight: bold; box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);}
h1::first-letter{
    margin-right: 5px;
    font-style: normal;
    font-size: 50px;
}
  